<div class="card mb-3">
    <div class="row">
        <div class="col">
            <iframe *ngIf="video" width="560" height="315" src="{{picture.url|domseguro}}" frameborder="0" allowfullscreen></iframe>
            <img *ngIf="!video" src="{{picture.hdurl }}" class="card-img" alt="{{picture.title}}">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{picture.title}}</h5>
                <p class="card-text">{{picture.explanation}}</p>
                <p class="card-text"><small class="text-muted">{{picture.copyright}} <br> {{picture.date}}</small></p>
            </div>
        </div>
    </div>
</div>