<div class="card-columns ">
    <div *ngFor="let item of items" class="card animated fadeIn" (click)="goToDate(item.date)">
        <iframe *ngIf="isVideo(item.media_type)" width="350" height="250" [src]='sanitize(item.url)' frameborder="0" allowfullscreen></iframe>
        <img *ngIf="!isVideo(item.media_type)" src="{{item.url}}" class="card-img" alt="{{item.title}}">
        <div class="card-body text-justify">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">

                {{item.explanation}}

            </p>
            <div class="card-body text-justify">
                <p class="card-link">{{item.copyright}}</p>
                <p class="card-subtitle">{{item.date | date: 'fullDate'}}</p>
            </div>
        </div>
    </div>
</div>