<form>
    <div class="form-group">
        <label for="text">Ingrese Fecha:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <input id="text" name="text" type="date" class="form-control" #fecha>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="searchDate(fecha.value)">Aceptar</button>
    </div>
</form>